# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.Emojiful-1.20
.obscure-tooltips-dev-1.20.1-3.0.0

# other
run
logs

# Files from Forge MDK
forge*changelog.txt
